In [1]:
from IPython.display import display, HTML
import os
import csv
import pandas as pd

In [2]:
#######
#Paths#
#######
filename1 = "Output/cleanednyctickets_essential.csv"
filename2 = "Output/cleanednyctickets_extra.csv"
outputpath = "Output/deepcleaned.csv"
outputpath2 = "Output/deepcleanedmini.csv"

In [5]:
#Read In Essentials File to df
df = pd.read_csv(filename1, header=0, index_col=0)

In [4]:
#Read In Extras File to df2
df2 = pd.read_csv(filename2, header=0, index_col=0)

In [6]:
#Remove ALL rows with NaN value
df = df.dropna()
df

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct
Summons Number,,,,,,,,,,,
1454437777,01/01/2021,40,SUBN,DODGE,9930,6780,6880,62.0,62,0100A,62
1459682567,01/01/2021,98,SUBN,NISSA,28790,7990,50390,115.0,115,0245A,115
1456168186,01/01/2021,14,P-U,CHEVR,14620,27630,12220,52.0,52,1026P,52
1456655127,01/01/2021,98,SDN,BMW,19310,24890,10210,25.0,25,0029A,0
1457203959,01/01/2021,98,SDN,NISSA,25085,18140,18290,103.0,103,0540P,103
...,...,...,...,...,...,...,...,...,...,...,...
8996906906,03/31/2021,68,MCY,NIU,93330,53830,81330,84.0,84,0910P,84
8996906943,03/31/2021,46,4DSD,HYUND,56030,86330,89730,77.0,77,1014P,77
8996906979,03/31/2021,78,DELV,NS/OT,80330,67047,41930,77.0,77,1027P,77
8996907017,03/31/2021,51,SUBN,NS/OT,80330,12130,86030,77.0,77,1057P,77
8996907042,03/31/2021,70,SUBN,HONDA,80330,86630,73430,77.0,77,1114P,77

In [7]:
df2 = df2.dropna()
df2

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct,House Number,Street Name,Intersecting Street,Vehicle Color,Vehicle Year
Summons Number,,,,,,,,,,,,,,,,
1478409990,01/01/2021,51,SUBN,CHEVR,70620,11980,0,46.0,46,1027A,2,2001,UNIVERSITY AVE,AQUEDUCT WALK,BLK,2008
1478421186,01/01/2021,20,SDN,KIA,36230,26610,0,26.0,26,0103P,1,425,WEST 123RD STREET,MORNINGSIDE PARK,GREY,2016
8556047440,01/01/2021,50,SUBN,HONDA,0,0,0,115.0,115,0440P,115,N,35th Ave,0ft E/of 71st St,BK,2008
8556047464,01/01/2021,71,SUBN,FORD,7990,0,0,115.0,115,0547P,115,S,31st Ave,20ft W/of 85th St,BK,2016
8786592798,01/01/2021,71,4DSD,NISSA,58730,0,0,90.0,90,1131A,90,N,Marcy Ave,30ft E/of Division A,BK,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8994356642,03/31/2021,19,4DSD,BMW,76430,0,0,75.0,75,0306P,75,E,Sheffield Ave,40ft S/of Fulton St,GREY,0
8994356733,03/31/2021,50,4DSD,CHEVR,0,0,0,75.0,75,0345P,75,E,Van Siclen Ave,0ft N/of Jamaica Ave,OTHER,0
8994356770,03/31/2021,71,SUBN,FORD,53210,0,0,75.0,75,0405P,75,E,Jerome Ave,4ft S/of Arlington A,BK,2018
8995200509,03/31/2021,14,UTIL,HIN,93060,0,0,88.0,88,0830A,88,N,Williamsburg St West,10ft W/of Steuben St,WH,2019
8995200534,03/31/2021,71,TOW,INTER,0,0,0,88.0,88,0846A,88,N,Emerson Pl,120ft E/of Classon A,RD,2004

In [8]:
datatypes = df.dtypes
datatypes

Issue Date             object
Violation Code          int64
Vehicle Body Type      object
Vehicle Make           object
Street Code1            int64
Street Code2            int64
Street Code3            int64
Violation Location    float64
Violation Precinct      int64
Violation Time         object
Issuer Precinct         int64
dtype: object

In [9]:
datatypes2 = df2.dtypes
datatypes2

Issue Date              object
Violation Code           int64
Vehicle Body Type       object
Vehicle Make            object
Street Code1             int64
Street Code2             int64
Street Code3             int64
Violation Location     float64
Violation Precinct       int64
Violation Time          object
Issuer Precinct          int64
House Number            object
Street Name             object
Intersecting Street     object
Vehicle Color           object
Vehicle Year             int64
dtype: object

In [48]:
df_str = df[["Issue Date", "Vehicle Body Type", "Vehicle Make", "Violation Time"]]
df_str

                Issue Date Vehicle Body Type Vehicle Make Violation Time
Summons Number
1454437777      01/01/2021              SUBN        DODGE          0100A
1459682567      01/01/2021              SUBN        NISSA          0245A
1456168186      01/01/2021               P-U        CHEVR          1026P
1456655127      01/01/2021               SDN          BMW          0029A
1457203959      01/01/2021               SDN        NISSA          0540P
...                    ...               ...          ...            ...
8996906906      03/31/2021               MCY          NIU          0910P
8996906943      03/31/2021              4DSD        HYUND          1014P
8996906979      03/31/2021              DELV        NS/OT          1027P
8996907017      03/31/2021              SUBN        NS/OT          1057P
8996907042      03/31/2021              SUBN        HONDA          1114P

[2290496 rows x 4 columns]

In [49]:
df_str.rename(columns={'Issue Date': 'Date','Vehicle Body Type': 'Type', 'Vehicle Make': 'Make', 'Violation Time':'Time'})

                      Date  Type   Make   Time
Summons Number
1454437777      01/01/2021  SUBN  DODGE  0100A
1459682567      01/01/2021  SUBN  NISSA  0245A
1456168186      01/01/2021   P-U  CHEVR  1026P
1456655127      01/01/2021   SDN    BMW  0029A
1457203959      01/01/2021   SDN  NISSA  0540P
...                    ...   ...    ...    ...
8996906906      03/31/2021   MCY    NIU  0910P
8996906943      03/31/2021  4DSD  HYUND  1014P
8996906979      03/31/2021  DELV  NS/OT  1027P
8996907017      03/31/2021  SUBN  NS/OT  1057P
8996907042      03/31/2021  SUBN  HONDA  1114P

[2290496 rows x 4 columns]

In [50]:
#Make dTypes String
#df_obj.Date = df_obj.Date.astype(str)
#df_obj

AttributeError: 'DataFrame' object has no attribute 'Date'

In [10]:
#Car Type & Makes Into Variables
cartype = df["Vehicle Body Type"]
carmake = df["Vehicle Make"]

In [11]:
#Makes Series
makes_series = pd.Series(df['Vehicle Make'])  
makes_series

Summons Number
1454437777    DODGE
1459682567    NISSA
1456168186    CHEVR
1456655127      BMW
1457203959    NISSA
              ...
8996906906      NIU
8996906943    HYUND
8996906979    NS/OT
8996907017    NS/OT
8996907042    HONDA
Name: Vehicle Make, Length: 3344282, dtype: object

In [12]:
#Vehicle Body Type Series
types_series = pd.Series(df['Vehicle Body Type'])
types_series

Summons Number
1454437777    SUBN
1459682567    SUBN
1456168186     P-U
1456655127     SDN
1457203959     SDN
              ...
8996906906     MCY
8996906943    4DSD
8996906979    DELV
8996907017    SUBN
8996907042    SUBN
Name: Vehicle Body Type, Length: 3344282, dtype: object

In [ ]:
#Write conditionals to make categories for classification & translate violation codes to fine $$ for each ticket
#Make categories for classification
#Vehicle Make=1, is empty
#Translate Street codes, Street Codes=0, is empty

In [ ]:
df.to_csv('outputpath')
df2.to_csv('outputpath2')