In [5]:
from IPython.display import display, HTML
import os
import csv
import pandas as pd

In [20]:
##Sets Pandas to not truncate dataframes
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [6]:
##Sets Pandas to truncate dataframes
pd.set_option("display.max_rows", 10)

In [7]:
##Intput Paths
filename1 = "Output/cleanednyctickets_essential.csv"
filename2 = "Output/cleanednyctickets_extra.csv"

In [38]:
#Output Paths
outputpath = "Output/deepcleaned.csv"
outputpath2 = "Output/deepcleanedmini.csv"
typescount = "Output/typescount.csv"
makescount = "Output/makescount.csv"
colorscount = "Output/colorscount.csv"

In [13]:
#Read In Essentials File to df
df = pd.read_csv(filename1, header=0, index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
#Read In Extras File to df2
df2 = pd.read_csv(filename2, header=0, index_col=0)

In [11]:
#Remove ALL rows with NaN value
df = df.dropna()
df

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct
Summons Number,,,,,,,,,,,
1454437777,01/01/2021,40,SUBN,DODGE,9930,6780,6880,62.0,62,0100A,62
1459682567,01/01/2021,98,SUBN,NISSA,28790,7990,50390,115.0,115,0245A,115
1456168186,01/01/2021,14,P-U,CHEVR,14620,27630,12220,52.0,52,1026P,52
1456655127,01/01/2021,98,SDN,BMW,19310,24890,10210,25.0,25,0029A,0
1457203959,01/01/2021,98,SDN,NISSA,25085,18140,18290,103.0,103,0540P,103
...,...,...,...,...,...,...,...,...,...,...,...
8996906906,03/31/2021,68,MCY,NIU,93330,53830,81330,84.0,84,0910P,84
8996906943,03/31/2021,46,4DSD,HYUND,56030,86330,89730,77.0,77,1014P,77
8996906979,03/31/2021,78,DELV,NS/OT,80330,67047,41930,77.0,77,1027P,77
8996907017,03/31/2021,51,SUBN,NS/OT,80330,12130,86030,77.0,77,1057P,77
8996907042,03/31/2021,70,SUBN,HONDA,80330,86630,73430,77.0,77,1114P,77

In [12]:
df2 = df2.dropna()
df2

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct,House Number,Street Name,Intersecting Street,Vehicle Color,Vehicle Year
Summons Number,,,,,,,,,,,,,,,,
1478409990,01/01/2021,51,SUBN,CHEVR,70620,11980,0,46.0,46,1027A,2,2001,UNIVERSITY AVE,AQUEDUCT WALK,BLK,2008
1478421186,01/01/2021,20,SDN,KIA,36230,26610,0,26.0,26,0103P,1,425,WEST 123RD STREET,MORNINGSIDE PARK,GREY,2016
8556047440,01/01/2021,50,SUBN,HONDA,0,0,0,115.0,115,0440P,115,N,35th Ave,0ft E/of 71st St,BK,2008
8556047464,01/01/2021,71,SUBN,FORD,7990,0,0,115.0,115,0547P,115,S,31st Ave,20ft W/of 85th St,BK,2016
8786592798,01/01/2021,71,4DSD,NISSA,58730,0,0,90.0,90,1131A,90,N,Marcy Ave,30ft E/of Division A,BK,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8994356642,03/31/2021,19,4DSD,BMW,76430,0,0,75.0,75,0306P,75,E,Sheffield Ave,40ft S/of Fulton St,GREY,0
8994356733,03/31/2021,50,4DSD,CHEVR,0,0,0,75.0,75,0345P,75,E,Van Siclen Ave,0ft N/of Jamaica Ave,OTHER,0
8994356770,03/31/2021,71,SUBN,FORD,53210,0,0,75.0,75,0405P,75,E,Jerome Ave,4ft S/of Arlington A,BK,2018
8995200509,03/31/2021,14,UTIL,HIN,93060,0,0,88.0,88,0830A,88,N,Williamsburg St West,10ft W/of Steuben St,WH,2019
8995200534,03/31/2021,71,TOW,INTER,0,0,0,88.0,88,0846A,88,N,Emerson Pl,120ft E/of Classon A,RD,2004

In [14]:
datatypes = df.dtypes
datatypes

Issue Date             object
Violation Code          int64
Vehicle Body Type      object
Vehicle Make           object
Street Code1            int64
                       ...
Street Code3            int64
Violation Location    float64
Violation Precinct      int64
Violation Time         object
Issuer Precinct         int64
Length: 11, dtype: object

In [15]:
datatypes2 = df2.dtypes
datatypes2

Issue Date             object
Violation Code          int64
Vehicle Body Type      object
Vehicle Make           object
Street Code1            int64
                        ...
House Number           object
Street Name            object
Intersecting Street    object
Vehicle Color          object
Vehicle Year            int64
Length: 16, dtype: object

In [16]:
df_str = df2[["Issue Date", "Vehicle Body Type", "Vehicle Make", "Violation Time", "Vehicle Color"]]
df_str

,Issue Date,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color
Summons Number,,,,,
1478409990,01/01/2021,SUBN,CHEVR,1027A,BLK
1478421186,01/01/2021,SDN,KIA,0103P,GREY
8556047440,01/01/2021,SUBN,HONDA,0440P,BK
8556047464,01/01/2021,SUBN,FORD,0547P,BK
8786592798,01/01/2021,4DSD,NISSA,1131A,BK
...,...,...,...,...,...
8994356642,03/31/2021,4DSD,BMW,0306P,GREY
8994356733,03/31/2021,4DSD,CHEVR,0345P,OTHER
8994356770,03/31/2021,SUBN,FORD,0405P,BK
8995200509,03/31/2021,UTIL,HIN,0830A,WH
8995200534,03/31/2021,TOW,INTER,0846A,RD

In [17]:
df_str = df_str.rename(columns={'Issue Date': 'Date','Vehicle Body Type': 'Type', 'Vehicle Make': 'Make', 'Violation Time':'Time', 'Vehicle Color': 'Color'})

In [18]:
df_str

                      Date  Type   Make   Time  Color
Summons Number
1478409990      01/01/2021  SUBN  CHEVR  1027A    BLK
1478421186      01/01/2021   SDN    KIA  0103P   GREY
8556047440      01/01/2021  SUBN  HONDA  0440P     BK
8556047464      01/01/2021  SUBN   FORD  0547P     BK
8786592798      01/01/2021  4DSD  NISSA  1131A     BK
...                    ...   ...    ...    ...    ...
8994356642      03/31/2021  4DSD    BMW  0306P   GREY
8994356733      03/31/2021  4DSD  CHEVR  0345P  OTHER
8994356770      03/31/2021  SUBN   FORD  0405P     BK
8995200509      03/31/2021  UTIL    HIN  0830A     WH
8995200534      03/31/2021   TOW  INTER  0846A     RD

[368042 rows x 5 columns]

In [35]:
types_df = df_str.groupby(['Type']).size()
types_df = types_df.sort_values(ascending=False)
types_df

Type
SUBN    134236
4DSD    118671
VAN      53638
DELV     21069
PICK     11158
2DSD      9579
REFG      4023
TRAC      3793
TRLR      2606
MCY       2080
UTIL      1707
CONV      1398
FLAT       734
TAXI       566
SEDN       498
DUMP       410
BUS        377
TR/C       311
SDN        290
TOW        163
SEMI       130
STAK       104
MOBL        87
BOAT        77
H/WH        51
TANK        50
MCC         40
CUST        35
T/CR        30
LIM         21
P-U         16
SWT         14
TRAV        13
LTRL        11
FOUR         9
CMIX         8
P/SH         6
TR/E         6
POLE         5
S/SP         3
TRAI         3
TWOD         2
W/DR         2
HWH          1
HRSE         1
H/TR         1
FPM          1
MOPD         1
EMVR         1
TRAL         1
OL           1
CX           1
TT           1
OM           1
AM           1
dtype: int64

In [23]:
types_counts = df_str.groupby(['Type']).size().reset_index(name='counts')
types_counts

    Type  counts
0   2DSD    9579
1   4DSD  118671
2     AM       1
3   BOAT      77
4    BUS     377
5   CMIX       8
6   CONV    1398
7   CUST      35
8     CX       1
9   DELV   21069
10  DUMP     410
11  EMVR       1
12  FLAT     734
13  FOUR       9
14   FPM       1
15  H/TR       1
16  H/WH      51
17  HRSE       1
18   HWH       1
19   LIM      21
20  LTRL      11
21   MCC      40
22   MCY    2080
23  MOBL      87
24  MOPD       1
25    OL       1
26    OM       1
27   P-U      16
28  P/SH       6
29  PICK   11158
30  POLE       5
31  REFG    4023
32  S/SP       3
33   SDN     290
34  SEDN     498
35  SEMI     130
36  STAK     104
37  SUBN  134236
38   SWT      14
39  T/CR      30
40  TANK      50
41  TAXI     566
42   TOW     163
43  TR/C     311
44  TR/E       6
45  TRAC    3793
46  TRAI       3
47  TRAL       1
48  TRAV      13
49  TRLR    2606
50    TT       1
51  TWOD       2
52  UTIL    1707
53   VAN   53638
54  W/DR       2

In [36]:
makes_df=df_str.groupby(['Make']).size()
makes_df = makes_df.sort_values(ascending=False)
makes_df

Make
FORD     41084
HONDA    40749
TOYOT    33703
NISSA    31203
CHEVR    21948
FRUEH    20563
BMW      16372
ME/BE    16054
DODGE    14410
JEEP     13319
HYUND    10694
ACURA     7691
LEXUS     6707
INTER     6626
INFIN     6581
VOLKS     6185
GMC       6033
HIN       5820
SUBAR     5798
AUDI      5433
KIA       5033
NS/OT     4875
ISUZU     4494
MAZDA     4347
CHRYS     4240
MITSU     3025
ROVER     2829
VOLVO     2727
CADIL     2272
NIU       1873
WORKH     1788
LINCO     1653
KENWO     1468
PORSC     1081
BUICK     1006
MINI       999
TESLA      923
MERCU      749
PETER      664
JAGUA      498
MACK       486
UTILI      418
FIAT       414
SATUR      405
SMART      372
PONTI      364
MASE       293
SUZUK      259
SCION      217
SAAB       194
UD         143
FONTA      102
HUMME       97
ALFAR       72
KAWAS       69
OLDSM       51
VESPA       45
DORSE       33
BENTL       31
CHECK       29
THOMA       29
VANHO       25
STERL       25
LAMBO       21
PLYMO       19
YAMAH       19
SPRI        19
TRAIL       17
NAVIS       17
HARLE       16
TRIUM       16
GREAT       14
FERRA       14
MCI         14
ANCIA       13
UPS         11
JENSE       11
GEO         11
AUSTI       11
DUCAT        8
HUMBE        8
AUTOC        7
ROLLS        6
WHITE        6
BSA          5
AMC          5
UNIFL        5
GRUMM        5
PREVO        5
SUNBE        5
CITRO        4
MG           4
HYUN         3
NIIS         3
KENTU        3
RENAU        2
HIGHW        2
BUGAT        2
MORGA        2
OSHKO        2
DIAMO        2
PEUGE        2
GENES        1
CAMR         1
KOMFO        1
HYTR         1
STRIC        1
L/R          1
DIA          1
SIMCA        1
MAGEL        1
MAYBA        1
DATSU        1
OPELP        1
YUGO         1
dtype: int64

In [37]:
colors_df = df_str.groupby(['Color']).size()
colors_df = colors_df.sort_values(ascending=False)
colors_df

Color
WH       63380
GY       57503
BK       49977
WHITE    49260
BLACK    28137
BL       20065
GREY     19979
BROWN    13528
RD       12118
SILVE    11281
BLUE      9829
RED       7246
GR        4302
TN        2972
OTHER     2882
BR        2134
GREEN     2052
YELLO     1522
GL        1387
YW        1321
MR        1156
GOLD      1055
OR         869
TAN        834
LTG        531
ORANG      514
LT/        430
DK/        334
PURPL      209
PR         179
DKG        162
BLK         87
DKB         80
LTB         55
WH/         54
GY/         52
NOC         51
GRAY        49
DKR         46
LAVEN       37
WHB         36
WHT         29
BLW         24
RDW         24
GRY         23
NO          23
WHG         22
GYB         19
LTT         17
BK/         16
BLG         16
BKG         13
GRW         12
RDG         10
RD/          9
BKW          9
BL/          9
BLU          6
GR/          5
PK           5
SILV         4
WT           4
TNR          4
B            3
MAROO        3
GLB          3
DKM          3
GRT          3
GRB          3
BLB          2
SIL          2
PRW          2
SLVR         2
DKP          2
WHIT         1
BE           1
YE           1
MA           1
WHTE         1
WHO          1
BURGU        1
BKT          1
GLD          1
GAY          1
SIV          1
SILVR        1
BROW         1
BRW          1
BUL          1
..-M         1
dtype: int64

In [30]:
colors_count = df_str.groupby(['Color']).size().reset_index(name='counts')
colors_count

    Color  counts
0    ..-M       1
1       B       3
2      BE       1
3      BK   49977
4     BK/      16
5     BKG      13
6     BKT       1
7     BKW       9
8      BL   20065
9     BL/       9
10  BLACK   28137
11    BLB       2
12    BLG      16
13    BLK      87
14    BLU       6
15   BLUE    9829
16    BLW      24
17     BR    2134
18   BROW       1
19  BROWN   13528
20    BRW       1
21    BUL       1
22  BURGU       1
23    DK/     334
24    DKB      80
25    DKG     162
26    DKM       3
27    DKP       2
28    DKR      46
29    GAY       1
30     GL    1387
31    GLB       3
32    GLD       1
33   GOLD    1055
34     GR    4302
35    GR/       5
36   GRAY      49
37    GRB       3
38  GREEN    2052
39   GREY   19979
40    GRT       3
41    GRW      12
42    GRY      23
43     GY   57503
44    GY/      52
45    GYB      19
46  LAVEN      37
47    LT/     430
48    LTB      55
49    LTG     531
50    LTT      17
51     MA       1
52  MAROO       3
53     MR    1156
54     NO      23
55    NOC      51
56     OR     869
57  ORANG     514
58  OTHER    2882
59     PK       5
60     PR     179
61    PRW       2
62  PURPL     209
63     RD   12118
64    RD/       9
65    RDG      10
66    RDW      24
67    RED    7246
68    SIL       2
69   SILV       4
70  SILVE   11281
71  SILVR       1
72    SIV       1
73   SLVR       2
74    TAN     834
75     TN    2972
76    TNR       4
77     WH   63380
78    WH/      54
79    WHB      36
80    WHG      22
81   WHIT       1
82  WHITE   49260
83    WHO       1
84    WHT      29
85   WHTE       1
86     WT       4
87     YE       1
88  YELLO    1522
89     YW    1321

In [39]:
types_df.to_csv(typescount)
makes_df.to_csv(makescount)
colors_df.to_csv(colorscount)

In [25]:
#Make dTypes String
#df_obj.Date = df_obj.Date.astype(str)
#df_obj

In [10]:
#Car Type & Makes Into Variables
cartype = df["Vehicle Body Type"]
carmake = df["Vehicle Make"]

In [11]:
#Makes Series
makes_series = pd.Series(df['Vehicle Make'])  
makes_series

Summons Number
1454437777    DODGE
1459682567    NISSA
1456168186    CHEVR
1456655127      BMW
1457203959    NISSA
              ...
8996906906      NIU
8996906943    HYUND
8996906979    NS/OT
8996907017    NS/OT
8996907042    HONDA
Name: Vehicle Make, Length: 3344282, dtype: object

In [12]:
#Vehicle Body Type Series
types_series = pd.Series(df['Vehicle Body Type'])
types_series

Summons Number
1454437777    SUBN
1459682567    SUBN
1456168186     P-U
1456655127     SDN
1457203959     SDN
              ...
8996906906     MCY
8996906943    4DSD
8996906979    DELV
8996907017    SUBN
8996907042    SUBN
Name: Vehicle Body Type, Length: 3344282, dtype: object

In [ ]:
#Write conditionals to make categories for classification & translate violation codes to fine $$ for each ticket
#Make categories for classification
#Vehicle Make=1, is empty
#Translate Street codes, Street Codes=0, is empty

In [ ]:
df.to_csv('outputpath')
df2.to_csv('outputpath2')