In [18]:
from IPython.display import display, HTML
import os
import csv
import pandas as pd

In [19]:
#######
#Paths#
#######
filename1 = "Output/cleanednyctickets_essential.csv"
filename2 = "Output/cleanednyctickets_extra.csv"
outputpath = "Output/deepcleaned.csv"
outputpath2 = "Output/deepcleanedmini.csv"

In [24]:
#Read In Essential Columns
df = pd.read_csv(filename1, header=0, index_col=0)

In [25]:
#Read In Extras File
df2 = pd.read_csv(filename2, header=0, index_col=0)

In [26]:
#Remove ALL rows with NaN value
df = df.dropna()
df.head()

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct
Summons Number,,,,,,,,,,,
1454437777,01/01/2021,40,SUBN,DODGE,9930,6780,6880,62.0,62,0100A,62
1459682567,01/01/2021,98,SUBN,NISSA,28790,7990,50390,115.0,115,0245A,115
1456168186,01/01/2021,14,P-U,CHEVR,14620,27630,12220,52.0,52,1026P,52
1456655127,01/01/2021,98,SDN,BMW,19310,24890,10210,25.0,25,0029A,0
1457203959,01/01/2021,98,SDN,NISSA,25085,18140,18290,103.0,103,0540P,103

In [27]:
df2 = df2.dropna()
df2.head()

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct,House Number,Street Name,Intersecting Street,Vehicle Color,Vehicle Year
Summons Number,,,,,,,,,,,,,,,,
1478409990,01/01/2021,51,SUBN,CHEVR,70620,11980,0,46.0,46,1027A,2,2001,UNIVERSITY AVE,AQUEDUCT WALK,BLK,2008
1478421186,01/01/2021,20,SDN,KIA,36230,26610,0,26.0,26,0103P,1,425,WEST 123RD STREET,MORNINGSIDE PARK,GREY,2016
8556047440,01/01/2021,50,SUBN,HONDA,0,0,0,115.0,115,0440P,115,N,35th Ave,0ft E/of 71st St,BK,2008
8556047464,01/01/2021,71,SUBN,FORD,7990,0,0,115.0,115,0547P,115,S,31st Ave,20ft W/of 85th St,BK,2016
8786592798,01/01/2021,71,4DSD,NISSA,58730,0,0,90.0,90,1131A,90,N,Marcy Ave,30ft E/of Division A,BK,2008

In [28]:
datatypes = df.dtypes
datatypes

Issue Date             object
Violation Code          int64
Vehicle Body Type      object
Vehicle Make           object
Street Code1            int64
Street Code2            int64
Street Code3            int64
Violation Location    float64
Violation Precinct      int64
Violation Time         object
Issuer Precinct         int64
dtype: object

In [29]:
datatypes2 = df2.dtypes
datatypes2

Issue Date              object
Violation Code           int64
Vehicle Body Type       object
Vehicle Make            object
Street Code1             int64
Street Code2             int64
Street Code3             int64
Violation Location     float64
Violation Precinct       int64
Violation Time          object
Issuer Precinct          int64
House Number            object
Street Name             object
Intersecting Street     object
Vehicle Color           object
Vehicle Year             int64
dtype: object

In [30]:
df = df['Vehicle Body Type'].astype(str)

In [10]:
#Car Type & Makes Into Variables
cartype = df["Vehicle Body Type"]
carmake = df["Vehicle Make"]

In [11]:
#Makes Series
makes_series = pd.Series(df['Vehicle Make'])  
makes_series

Summons Number
1454437777    DODGE
1459682567    NISSA
1456168186    CHEVR
1456655127      BMW
1457203959    NISSA
              ...
8996906906      NIU
8996906943    HYUND
8996906979    NS/OT
8996907017    NS/OT
8996907042    HONDA
Name: Vehicle Make, Length: 3344282, dtype: object

In [12]:
#Vehicle Body Type Series
types_series = pd.Series(df['Vehicle Body Type'])
types_series

Summons Number
1454437777    SUBN
1459682567    SUBN
1456168186     P-U
1456655127     SDN
1457203959     SDN
              ...
8996906906     MCY
8996906943    4DSD
8996906979    DELV
8996907017    SUBN
8996907042    SUBN
Name: Vehicle Body Type, Length: 3344282, dtype: object

In [ ]:
#Vehicle Make=1, is empty
#Street Codes=0, is empty
#Columns with mixed types (dtype: object = mixed data types)
#Convert objects to strings, if need: turn into series and combine