In [33]:
from IPython.display import display, HTML
import os
import csv
import pandas as pd

In [34]:
#######
#Paths#
#######
filename = "nyctickets.csv"
output_path1 = os.path.join("Output", "cleanednyctickets_essential.csv")
output_path2 = os.path.join("Output", "cleanednyctickets_extra.csv")

In [35]:
df = pd.read_csv(filename, header=0, index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18,29,36,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [36]:
df.head()

,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
Summons Number,,,,,,,,,,,,,,,,,,,,,
1454437777,GPM6410,99,PAS,01/01/2021,40,SUBN,DODGE,P,9930,6780,...,BK,0.0,2015,-,6,NaN,NaN,NaN,NaN,NaN
1459682567,JGJ7440,NY,PAS,01/01/2021,98,SUBN,NISSA,P,28790,7990,...,GRY,0.0,2019,-,0,NaN,NaN,NaN,NaN,NaN
1456168186,GVA5471,NY,PAS,01/01/2021,14,P-U,CHEVR,P,14620,27630,...,WHITE,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
1456655127,JLH5263,NY,PAS,01/01/2021,98,SDN,BMW,P,19310,24890,...,BLUE,0.0,2016,-,0,NaN,NaN,NaN,NaN,NaN
1457203959,HXL2432,NY,PAS,01/01/2021,98,SDN,NISSA,P,25085,18140,...,WH,0.0,2018,-,0,NaN,NaN,NaN,NaN,NaN

In [49]:
cleaned_df = df[["Issue Date", "Violation Code", "Vehicle Body Type", "Vehicle Make", "Street Code1", "Street Code2", "Street Code3", "Violation Location", "Violation Precinct", "Violation Time", "Issuer Precinct"]]
cleaned_df.head()

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct
Summons Number,,,,,,,,,,,
1454437777,01/01/2021,40,SUBN,DODGE,9930,6780,6880,62.0,62,0100A,62
1459682567,01/01/2021,98,SUBN,NISSA,28790,7990,50390,115.0,115,0245A,115
1456168186,01/01/2021,14,P-U,CHEVR,14620,27630,12220,52.0,52,1026P,52
1456655127,01/01/2021,98,SDN,BMW,19310,24890,10210,25.0,25,0029A,0
1457203959,01/01/2021,98,SDN,NISSA,25085,18140,18290,103.0,103,0540P,103

In [50]:
cleaned_df_extra = df[["Issue Date", "Violation Code", "Vehicle Body Type", "Vehicle Make", "Street Code1", "Street Code2", "Street Code3", "Violation Location", "Violation Precinct", "Violation Time", "Issuer Precinct", "House Number", "Street Name", "Intersecting Street", "Vehicle Color", "Vehicle Year"]]
cleaned_df_extra.head()

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct,House Number,Street Name,Intersecting Street,Vehicle Color,Vehicle Year
Summons Number,,,,,,,,,,,,,,,,
1454437777,01/01/2021,40,SUBN,DODGE,9930,6780,6880,62.0,62,0100A,62,1715,67 ST,NaN,BK,2015
1459682567,01/01/2021,98,SUBN,NISSA,28790,7990,50390,115.0,115,0245A,115,103-14,ASTORIA BLVD,NaN,GRY,2019
1456168186,01/01/2021,14,P-U,CHEVR,14620,27630,12220,52.0,52,1026P,52,2929,BRIGGS AVE,NaN,WHITE,0
1456655127,01/01/2021,98,SDN,BMW,19310,24890,10210,25.0,25,0029A,0,157,EAST 118 STREET,NaN,BLUE,2016
1457203959,01/01/2021,98,SDN,NISSA,25085,18140,18290,103.0,103,0540P,103,90-11,182 PL,NaN,WH,2018

In [42]:
cleaned_df.to_csv(output_path1)

In [43]:
cleaned_df_extra.to_csv(output_path2)

In [44]:
#Check abbrevations 
cartype = cleaned_df["Vehicle Body Type"]
carmake = cleaned_df["Vehicle Make"]

In [55]:
#Unique Car Types Array
uniquetypes = pd.Series(cartype).unique()  
uniquetypes

array(['SUBN', 'P-U', 'SDN', 'VAN', 'CONV', nan, 'OS', 'AM', '4DSD',
       '2DSD', 'SW', 'SD', '2D', 'UT', '4S', 'SEDN', 'PV', 'TK', '4D',
       'PICK', 'PK', 'HB', 'CP', 'BOAT', 'A', 'TRAI', 'DELV', 'TLR',
       'TRLR', 'TOW', 'TRTL', 'DUMP', 'BUS', 'COM', 'FODO', 'UTIL', 'SU',
       'MP', 'WG', 'LL', 'ST', 'SEDA', '2DHA', 'Truc', 'MCY', 'TAXI',
       'TANK', 'REFG', 'TRAC', 'CG', '5D', 'VN', 'CV', 'H/WH', 'BOX',
       'MOPD', 'TRL', 'TRC', 'MOT', 'YY', 'CLN', 'Carg', 'OMU', 'AMO',
       'Van', 'TL', 'FOUR', 'EOO', 'TRAN', '4DOO', '4H', '4W', 'SV',
       '4DSE', 'TR/C', 'CW', 'Pass', 'FLAT', 'TRAV', 'POLE', 'GT', 'CXM',
       'LIM', 'TT', 'TRUC', 'COMM', 'WAGO', 'TU', 'Stat', 'CN', 'PASS',
       'MOBL', 'OA', 'NCI', 'SJB', 'ABI', '2S', 'UV', '3D', 'HATC',
       'STAK', 'SUBA', 'ONC', 'UTL', 'OM', 'TR', 'TKOT', 'RD', 'LEXU',
       'I', 'CART', 'TUDO', 'VEH-', '4DHT', 'PU', 'CH', '2H', '8V',
       'SEMI', 'IC', 'APUR', 'HRSE', 'COUP', '2T', 'CARR', 'P/SH', '4SLE',
       'W/DR', 'Seda', 'CMIX', 'Pick', 'LM', 'CUTA', 'PKUP', '`', '2DOO',
       'JP', 'MC', 'TKRE', 'EXPE', 'MCC', 'SWT', 'CM', 'OVI', 'TWOD',
       'CAN', 'O', 'CMO', 'GRAY', 'OLMS', 'WA', 'WRAN', 'DSD', 'SUBR',
       'ES', 'PATH', 'VA', 'SUV', '4DR', 'SUBU', '4DHA', 'SB', 'MPVH',
       'CARG', 'ATV', 'T/CR', 'P', 'AN', 'STWA', 'TRIL', 'OV', '4SXS',
       'TKLE', 'ROVE', 'BU', 'SE', 'CT', 'CHER', 'CUST', 'RPLC', 'OSO',
       'HWH', 'WINN', 'CNNE', 'CMH', 'CNM', 'TRLK', 'OL', 'SC', 'MS',
       'MOTO', 'TAN', 'OI', 'UTPC', 'TRU-', '4 DO', 'TR/E', 'S/SP',
       'OTNE', 'AMG', 'ANRS', 'RAM', 'UTI', 'UTR', 'RED', '5H', 'EXPL',
       'PCV', 'OUTB', '4DPC', 'VNXS', 'RANG', 'FPM', 'RXD', 'CIM', 'ON',
       'MD', 'MINI', 'PIK', 'GREY', 'LTRL', 'AOK', 'BMW', 'DURA', 'REF',
       'JEEP', 'DO', 'MPD', 'ONO', '4T', 'VNLE', 'MOPE', 'TRK', 'RAND',
       '4SRE', '4C', 'SHUT', 'WHT', 'IP', 'TC', 'PETE', 'CHRY', 'OLS',
       'OSDS', 'OIOI', 'SPOR', '2DCP', 'WK', 'M', 'UDSD', 'PM', 'LIMO',
       'ORM', 'GMC', 'TRUK', 'OMH', '2CV', '3C', 'Hatc', 'RBM', '3S',
       'PC', 'H/TR', 'SCOT', 'TRTC', 'KENO', 'WH', 'TLT', 'OIM', 'CMOC',
       'CAMP', 'OVN', 'CARC', 'IIII', 'AL', 'MIC', 'IM', 'SS', '2C',
       'PIC', 'ONOR', 'IBOL', 'MED', 'CNR', 'DELN', 'GOLD', 'BLK', 'CLTL',
       'TOYO', 'VC', 'C', '4HT', '4D H', 'CR', '4', 'SK', '2HT', 'ALO',
       'FORD', 'IVI', 'ASK', 'PKPC', '4P', 'CLL', 'GY', 'G', 'DEL', 'RM',
       'TRU', 'TRAL', '00', 'EOC', 'CARA', 'AE', 'RD/S', 'CAI', 'H/IN',
       'UA', 'EXTS', 'STAW', '5S', 'TKXS', 'ML', 'MK', 'AP', 'CXIU',
       'FOOD', 'RF', 'Coup', 'RS', '4WHE', 'SWC', 'CON', 'FREI', 'BLAC',
       'CAMR', 'N', 'CAM', 'SCOO', 'ALSL', 'NC', 'LR', 'TOWT', '2HLE',
       'TAHO', 'ALRU', 'TLC', 'TENT', 'REFR', 'OO', 'CZ', 'OVM', 'CX',
       'OU', 'REFI', 'XN', 'PLC', 'TRAU', 'CUPE', 'FPPT', '4HB', 'ANB',
       'RAR', 'RV', 'MOAD', 'SEMT', 'TACL', 'FRIG', 'STNW', 'TKO', '2W',
       'NS', 'OUI', 'SEM', 'LTR', 'AMB', 'BOR', 'UK', 'CO', 'TS', 'AX',
       'AS', 'MG', 'Q', 'ME', 'ANLR', 'ASQW', 'MOSD', 'OC', 'NK', 'AMOL',
       'UC', 'ESCA', 'OIN', 'FR', 'AML', 'OR', 'MI', 'PLUP', 'TOY',
       'JOHD', 'IX', 'CXN', 'OUOL', 'MH', 'C4', 'W', 'HOU', '2HB', 'DF',
       'HYUN', '5DHT', 'DCOM', 'ONA', 'SMAR', 'OMS', 'RAFG', 'Cuta',
       'COAC', 'TRCU', 'COMT', 'OLLA', 'AMBU', 'DS', 'CROS', 'WAG', 'TTL',
       'LW', 'SA', 'FREG', 'ORR', 'ONI', '4 WH', 'ALL', 'SN/P', 'CXOI',
       'TRTA', 'OMB', 'MBI', 'CXI', 'R/RD', 'TED', 'BEDT', 'GA', 'NISS',
       'BT', 'TW', 'TLM', '2DSE', 'ANN', 'MAZ', 'PS', 'DUP', 'CAB', 'T',
       'OINO', 'EMVR', 'SPCA', 'CNII', 'CONN', 'R', 'OLN', 'AMA', 'AMS',
       'OMN', 'MIN', 'TRA', 'PTNE', 'TN', 'NY', 'WHIT', 'UTV', 'OVKN',
       'TRUY', 'REFN', 'FRE', 'TRAT', 'FGH', 'SCL', 'D', 'OLLO', 'VT',
       'Conv', 'BLAZ', 'HDSD', 'CAOA', 'WV', 'MT', 'YAMA', 'SUVF', 'CMEL',
       'CNI', 'SUB', 'OML', 'ORS', 'RNL', 'BRNT', 'BOXT', 'FTVA', 'B',
       'MNID', 'Z1UT', 'LB', 'CNVT', 'HC', 'HOBL', 'HINO', 'BL', 'ANO',
       'USDS', 'SULB', 'ANCR', 'CMR', 'NL', 'RML', 'NIS', 'RNG', 'CNNO',
       'APPO', 'TRLC', 'UDSN', 'AME', 'AROR', 'CNN', 'AO', 'SI', 'ASRG',
       'MO', 'OT', 'S', 'XTER', 'CKLM', 'NG', 'ASL', 'ANOR', 'KEN', 'UD',
       'IXC', 'PKTK', 'FB', 'CJI', 'SCHO', 'SUW', 'YPSD', 'ASE', 'ZDSD',
       'FIVE', 'PVAN', '4DLI', '10', 'MWH', 'OLNE', 'AC', 'ASA', 'CNNA',
       'TRCC', 'MC-R', 'OTM', 'OVL', 'HV', 'ASO', 'REFS', 'COUR', 'CNEI',
       'CNNZ', 'PERM', 'CC', 'CBCH', 'CXNL', 'RIG', 'IXN', 'GG', 'INTE',
       'OIU', 'CYCL', 'APP', 'RI', 'ONL', 'OIO', 'VP', 'VANT', 'CE', 'HY',
       'HW', 'AABI', 'CXMC', 'OTS', 'DUMO', 'TIT', 'TARI', 'LI', 'RE',
       'BS', 'DT', '3P', 'THAT', 'YRSD', 'XM', 'ACUR', 'PG', 'MOPP',
       'CNNU', 'KR', 'OIMI', 'AUDI', 'COOP', 'ONE', 'RT', 'TF', 'SILV',
       'CMOR', 'ASC', 'AG', 'OIIM', 'MODC', 'ANSR', 'OEN', 'OMI', 'FOUD',
       'MB', 'TELR', 'SWLE', 'PR', 'TLLC', 'DM', 'PER', 'HT', 'CMRA',
       'AFT', 'WSR', 'CNNT', 'MOTR', 'SME'], dtype=object)

In [57]:
#Sort Entire DF by Car Type
uniquetypes2 = cleaned_df.sort_values(by=['Vehicle Body Type'])
uniquetypes2

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct
Summons Number,,,,,,,,,,,
4725312060,03/10/2021,36,00,DODGE,0,0,0,NaN,0,0310P,0
4727077802,03/26/2021,36,00,FORD,0,0,0,NaN,0,0605P,0
4723908195,02/24/2021,36,00,FORD,0,0,0,NaN,0,0924A,0
4721096203,01/20/2021,36,00,GMC,0,0,0,NaN,0,0129P,0
4725921877,03/16/2021,36,00,CHEVR,0,0,0,NaN,0,0220P,0
...,...,...,...,...,...,...,...,...,...,...,...
8567814029,03/31/2021,70,NaN,NaN,25620,40404,40404,40.0,40,0830P,40
8571761632,03/31/2021,14,NaN,NaN,66290,40404,40404,112.0,112,0645P,112
8817042894,03/31/2021,0,NaN,NaN,7300,40404,40404,114.0,114,1229P,114
8939005132,03/31/2021,0,NaN,NaN,34490,40404,40404,5.0,5,1029A,5
8948955317,03/31/2021,0,NaN,NaN,10410,40404,40404,19.0,19,1055A,19

In [58]:
#Car Makes Unique Array
uniquemakes = pd.Series(carmake).unique()  
uniquemakes

array(['DODGE', 'NISSA', 'CHEVR', ..., 'DA/DA', 'ZHEN', 'NI/DI'],
      dtype=object)

In [59]:
#Sort Entire DF by Car Make
uniquemakes2 = cleaned_df.sort_values(by=['Vehicle Make'])
uniquemakes2

,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Street Code1,Street Code2,Street Code3,Violation Location,Violation Precinct,Violation Time,Issuer Precinct
Summons Number,,,,,,,,,,,
1482256022,03/05/2021,21,SUBN,ACUR,8480,5430,5580,72.0,72,0137A,0
1474323790,03/20/2021,98,SUBN,ACUR,36770,15910,11710,NaN,0,1100P,30
1481748853,01/08/2021,21,SDN,ACUR,42630,9980,17380,68.0,68,0808A,0
1482789073,03/15/2021,21,SDN,ACUR,9320,72620,10620,49.0,49,1140A,0
1473168661,02/27/2021,53,SDN,ACUR,28990,13810,16310,7.0,7,0536A,7
...,...,...,...,...,...,...,...,...,...,...,...
8977301520,03/31/2021,38,VAN,NaN,15780,16280,16330,62.0,62,0928A,62
8986808092,03/31/2021,77,BUS,NaN,94630,27130,39230,75.0,75,1035A,75
8982753333,03/31/2021,19,SUBN,NaN,14280,36830,36880,63.0,63,0338P,63
8994504746,03/31/2021,40,UTIL,NaN,41570,23930,81130,83.0,83,1210P,83
8993203118,03/31/2021,14,REFG,NaN,46030,0,0,94.0,94,0200P,94

In [63]:
makes_series = pd.Series(cleaned_df['Vehicle Make'])  
makes_series

Summons Number
1454437777    DODGE
1459682567    NISSA
1456168186    CHEVR
1456655127      BMW
1457203959    NISSA
              ...
8996906906      NIU
8996906943    HYUND
8996906979    NS/OT
8996907017    NS/OT
8996907042    HONDA
Name: Vehicle Make, Length: 3344282, dtype: object

In [ ]:
makes_series = makes_series.groupby(level=0).sum()
makes_series

In [ ]:
types_series = pd.Series(clean)